<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<head>
 	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Categoria List</title>
</head>
<body>

	<div layout:fragment="content">
		<h1>Categoria List</h1>
		<hr />
		<a th:href="@{/categorias/new}" class="btn btn-success">New Categoria</a><br/><br/>
		
		<table class="table">
			<thead>
				<tr>
					<th>Code</th> 
					<th>Name</th> 
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="categoria : ${listCategoria}">
					<td th:text="${categoria.code}"></td> 
					<td th:text="${categoria.name}"></td> 
					<td>
						<!-- <a th:href="@{/categorias/{id}(id = ${categoria.id})}" class="btn btn-primary">Show</a> --> 
					 	<a th:href="@{/categorias/{id}/edit(id = ${categoria.id})}" class="btn btn-info">Edit</a> 
						<a th:href="${'categorias/'+ categoria.id+'/delete'}" class="btn btn-danger">Destroy</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>