<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Show Unidade de Medida</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>Show Unidade de Medida</h1>
		<hr />
		<div class="form-group"> 
			<label for="name">Name: </label>  
			<span th:text="${unidadeMedida.name}"></span> 
		</div> 
				
		<a th:href="@{/medidas}" class="btn btn-primary">Back</a>
		<a th:href="@{/medidas/{id}/edit(id = ${unidadeMedida.id})}" class="btn btn-info">Edit</a>
		<a th:href="${unidadeMedida.id +'/delete'}" class="btn btn-danger">Delete</a>
		
	</div>
</body>
</html>