<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>Detalhes do Produto</title>
	</head>
	<body>
		<div layout:fragment="content">
			<h2>Detalhes do produto</h2>
			<hr />
			<div class="form-group"> 
				<label for="codigo">Código: </label>  
				<span th:text="${produto.codigo}"></span> 
			</div> 
			<div class="form-group"> 
				<label for="nome">Nome: </label>  
				<span th:text="${produto.nome}"></span> 
			</div> 
			<div class="form-group"> 
				<label for="medida">Unidade de medida: </label>  
				<span th:text="${produto.medida}"></span> 
			</div> 
			<div class="form-group"> 
				<label for="categoria">Categoria: </label>  
				<span th:text="${produto.categoria}"></span> 
			</div> 
			<a th:href="@{/produtos}" class="btn btn-primary" >Voltar</a> 
			<a th:href="@{/produtos/{id}/edit(id = ${produto.id})}" class="btn btn-info">Editar</a>
			<a th:href="${produto.id +'/delete'}" class="btn btn-danger">Apagar</a>
			
		</div>
	</body>
</html>